/* dark.css */

/*
 * Специально для тёмной темы при наличии класса (ПРИНУДИТЕЛЬНОЕ ПЕРЕКЛЮЧЕНИЕ).
 */
:root.theme-dark {
  --accent-color: #FF0070;
  --main-bg-color: #000028;
  --nav-color: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --section-heading-color: #000028;
  
  /* Добавлено для корректного ховера на кнопках меню */
  --nav-hover-color: rgb(255 0 112 / 0.4); 
  
  /* для декоративных элементов */
  --decor-text-color: var(--main-bg-color);
  --decor-bg-color: var(--section-heading-color);
  --border-color: var(--accent-color);
  
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}
