.page.theme_dark {
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-decor-color: #000028;
  --title-decor-bg: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.40);
  --rec-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
}

.theme_dark .header__rec {
  display: block;
}
