.page.theme_light {
  --main-text-color: #353430;
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-title-color: #FFC2E6;
  --title-decor-color: #353430;
  --title-decor-bg: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.40);
  --rec-color: #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --main-title-color: #FFC2E6;
    --title-decor-color: #353430;
    --title-decor-bg: #FF8DCB;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.40);
    --rec-color: #FF8DCB;
    --bg-image: url("../images/cover-image-light.png");
  }
  
  .header__rec {
    display: none;
  }
}
